 {% extends 'base.html' %}
 {% block content %}
 
    </br>
    <br>
    <br>
    <br>
    </br>
    <br>
    {%if user %}
        <form enctype="multipart/form-data"  id="category_form" method="post" action="/projects/{{category.slug}}/add_project/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            <br>
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <br>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            

            <input type="submit" name="submit" value="Add Project" />
        </form>
        {%else %}
        <p>please return <a href="/">Home</a></p>
        {%endif%}
{%endblock%}