 {% extends 'base.html' %}
 {% block content %}

{% block body_block %}

    </br>
    <br>
    <br>
    <br>
    <div class="btn-group">
  <button type="button" class="btn ">Default</button>
  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
   <ul class="dropdown-menu">
   {% for category in categories %}
    <li><a href="/projects/{{category.slug}}/">
        {{ category.name}}</a></li>

     {% endfor %}

  </ul>
</div>
    
    <h1>{{ category_name }}</h1>
    {% if category %}
    
        {% if pages %}
<div class="row">

{% for page in pages  %}


   <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        {% if page.picture %}
         <img src="{{page.picture}}" alt="project picture">
         {% else %}
         <img src="" alt="project picture">
         {% endif %}
      </div>
      <div class="caption">
         <h3><a href="/projects/{{category.slug}}/{{ page.slug }}">{{ page.name }}</a></h3>
         <p><a href="/projects/{{category.slug}}/{{ page.slug }}">{{ page.description }}</a></p>
      </div>
   </div>


{% endfor %}

</div>





                {% else %}
                    <strong>No project currently in category.</strong>
                    {% endif %}

                
                {% else %}
                    The specified categroy {{ category_name }} does not exist!
        {% endif %}
        {% if user %}
              </br>
                    <a href="/projects/{{category.slug}}/add_project/">Add a Project</a>
                    {% endif %}
{% endblock %}



{% endblock %}