 {% extends 'base.html' %}

{% load static %}
 {% block content %}
 
    </br>
    <br>
    <br>
    <br>
<div class="container">
<h1>{{project_name}}</h1>
<p>by {{company_name}}

<h1>{{project.description}}</h1>

{% if project.picture %}
<img src="{{ project.picture.url }}" alt="{{%\ project.picture} }"> </img>
{% endif %}

{% if is_student %}
<form id="user_form" method = "post" action="/projects/{{ project.slug }}/apply/" enctype="multipart/form-data">
{% csrf_token %}


{{profile_form.errors}}



<div class="row">
	<div class="form-group col-xs-12">
			<button type="submit" class="btn btn-default">Apply</button>
		</div>
</div>

</form>
{% endif %}

{% if user_company == company_name %}
<form id="user_form" method = "post" action="/projects/{{category.slug}}/{{ project.slug }}/edit/" enctype="multipart/form-data">
{% csrf_token %}


{{profile_form.errors}}



<div class="row">
	<div class="form-group col-xs-12">
			<button type="submit" class="btn btn-default">Edit</button>
		</div>
</div>

</form>
{% endif %}
</div>


{%endblock%}