 {% extends 'base.html' %}
 {% block content %}

 
    </br>
    <br>
    <br>
    <br>


<br>
<h1>Categories</h1>

 	{% if categories %}
 	<ul>
 	{% for category in categories %}
 	<li>

 


 		<a href="/projects/{{category.slug}}/">
 		{{ category.name}}</a>

 	</li>
 	{% endfor %}
    </ul>
    {% else %}
    <strong>There is no category.</strong></br>
 	{% endif %}
 	{%if user.companyprofile %}


    <button type="submit" class="btn btn-default" action="/projects/add_category/"><a href="/projects/add_category/" style="color:white">Add Category</a></button>
    {%endif%}
{%endblock%}