{% extends "base.html" %}


{% block content%}



 <section  id="students">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                
                    <h2>Students </h2>
              

                
                </div>
            </div>
<div class="row">
{% for student in students %}


   <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      	{% if student.userprofile.picture %}
         <img src="{{student.userprofile.picture}}" alt="profile picture">
         {% else %}
         <img src="http://freelanceme.net/Images/default%20profile%20picture.png" alt="profile picture">
         {% endif %}
      </div>
      <div class="caption">
         <h3>{{student.username}}</h3>
         <p>{{ student.userprofile.about_me}}</p>
      </div>
   </div>


{% endfor %}

</div>

</section>

{%endblock%}