{%extends "base.html"%}
{%block content%}
<section>
<div class="container">
            <div class="row">
           <div class="col-lg-12">
{%if user.userprofile %}
<br>
<li class="page-scroll">
      <a href="/student/edit/">Edit Profile</a>
</li>
<br>
Firs Name:{{user.first_name}}
<br>
Last Name: {{user.last_name}}
<br>
About Me:{{user.userprofile.about_me}}

{%elif user.companyprofile %}
<br>
<li class="page-scroll">
    <a href="/company/edit/">Edit Company Profile</a>
</li>
<br>
Company Name: {{user.companyprofile.company_name}}
<br>
Description: {{user.companyprofile.description}}
<br>
Website: <a href="{{user.companyprofile.website}} ">{{user.companyprofile.website}} </a>
{%endif%}
</div>
</div>
</div>

      <div class="col-md-6">
                    <a href="/accounts/password/change/" class="btn btn-lg btn-primary btn-block">
                        Change Password
                    </a>
        </div>
</section>


{%endblock%}
