{%extends "base.html"%}
{%block content%}
<section>
<div class="container">
            <div class="row">
           <div class="col-lg-12">
{%if user.userprofile %}
<br>
<br>
Firs Name: {{user.first_name}}
<br>
Last Name: {{user.last_name}}
<br>
About Me: {{user.userprofile.about_me}}
<br>
      <a href="/student/edit/" class="btn btn btn-primary">Edit Profile</a>
{%elif user.companyprofile %}
<br>
<br>
Company Name: {{user.companyprofile.company_name}}
<br>
Description: {{user.companyprofile.description}}
<br>
Website: <a href="{{user.companyprofile.website}} ">{{user.companyprofile.website}} </a>
<br>
 <a href="/company/edit/" class="btn btn btn-primary">Edit Company Profile</a>
{%endif%}
<a href="/accounts/password/change/" class="btn btn btn-primary">
                        Change Password
                    </a>
   
</div>
</div>
</div>
</section>


{%endblock%}
