{% extends "base.html" %}

{% block content %}


<form id= "form2" class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Please sign in</h2>
<br> 
<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
<br>
<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"  />Sign in</button>
        </form>
</div>
{% endblock %}